*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
media/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.idea/vcs.xml
.idea/workspace.xml
customauth/__pycache__/permissions.cpython-36.pyc
templates/
customauth/__pycache__/
lost_and_found/__pycache__/
post/__pycache__/
